<!DOCTYPE html>
<html lang="en">
<head>
    <title>SAML Post binding form</title>
</head>
<body>
    <form method="post" name="hiddenform" action="{{ postUrl }}">
        <input type="hidden" name="SAMLResponse" value="{{ token }}">
        <input type="hidden" name="RelayState" value="{{ relayState }}">
        <noscript>
            <p>
                Script is disabled. Click Submit to continue.
            </p><input type="submit" value="Submit">
        </noscript>
    </form>
    <script language="javascript" type="text/javascript">
        window.setTimeout(function(){document.forms[0].submit();}, 0);
    </script>
</body>
</html>